// Importing Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  font-family: 'Poppins', sans-serif;
  color: #616161;
}

// MAIN STORE
.wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.generic-box {
  padding: 5px;
  height: 200px;
  min-width: 250px;
  border: 1px solid #d3d3d3;
  flex-grow: 1;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;

  &:hover {
    background-color: #fafafa;
    display: inline-block;
    cursor: pointer;
  }
}

.item-image {
  float: left;
  margin-top: 30px;
}

/**
Location: /
***/
.store-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}

.store-desc {
  width: 220px;
  display: inline-block;
  margin-left: 9px;
  color: #616161;
}

/*******
Location: /public_stores/{id}
***/

.item-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}

.item-desc {
  width: 220px;
  display: inline-block;
  margin-left: 9px;
  color: #616161;
}


.item-box {
  padding: 5px;
  width: 100%;
  border: 1px solid #d3d3d3;
  flex-grow: 1;
  border-radius: 5px;
  text-decoration: none;
}


.item-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.detailed-item-wrapper {
  display: flex;
  align-items: top;
  height: 100%;
}

.item-item-desc {
  display: inline-block;
  margin-left: 9px;
  color: #616161;
}

.itemMargin {
  margin-left: 5px;
}

a { text-decoration: none; }

.grey-box, .store {
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}


/**
Location: /cart
**/

.cart-image-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cart-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: right;
}

.cart-item-desc{
  width: 220px;
}
.dark-grey{
    color: #616161;
}


/** UPDATED 11-17-2024
**/
.table-header-title, .main-title{
  font-size: 20px
}

.router-link{
  color: #108a00;
  font-size: 14px;
  font-weight: 500;
}
